
.counterValue {
    min-width: 200px;
    min-height: 200px;
    border: 3px solid #0ed7dc;
    border-radius: 10px;
    text-align: center;
    align-content: center;
    font-size: 5em;
    color: #f6f6f6;
}

.counterValue.maxValue {
    color: red;
}


.textError {
    color: red;
    font-weight: bold;
    font-size: 2.5rem;
}

.text {
    font-weight: 200;
    font-size: 1.5rem;
    flex-wrap: wrap;
}
