.app{
  display: flex;
  gap: 5rem
}

.mainContainer{
  display: flex;
  flex-direction: column;
  gap: 1rem;
  height: 300px;
  width: 300px;
  margin: 0 auto;
  border: 3px solid #0ed7dc;
  border-radius: 10px;
  padding: 15px;
}

.buttonContainer{
  border: 3px solid #0ed7dc;
  border-radius: 10px;
  padding: 15px;
  display: flex;
  justify-content: space-around;
  align-items: center;
  gap: 1rem;
}
