.settingsValueContainer{
border: 3px solid #0ed7dc;
    border-radius: 10px;
    padding: 15px;
    height: 200px;
    font-size: 1.3em;
    display: flex;
    flex-direction: column;
    gap: 3rem;
    justify-content: center;
}


.setting{
    display: flex;
    gap: 1rem;
}

.input{
    border-radius: 10px;
    border: 2px solid #0ed7dc;
    padding: 5px;
    font-size: 1em;
    width: 100px;
    transition: all 0.3s ease;
    text-align: center;
}

.input.errorInput{
    border-color: red;
    background-color: rgba(237, 129, 129, 0.76);
    outline: none;
}
